body { 
    background-color: rgb(92, 146, 11);
    display: grid;
    grid-template-areas:
    'menu'
    'cos';
    grid-template-rows: auto 1fr;
    height: 96vh;
}

.cos {
    margin: 0.75% 0% 0% 0%;
    background-color: rgb(139, 225, 11);
}

.menu {
    background-color: rgb(139, 225, 11);
}